.footer__main {
    min-height: 250px;
    background: linear-gradient(to right, #0f3057, #00587a);
    margin-top: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 50px;
    flex-shrink: 0;

    color: #ffffff;
    font-weight: 700;

    display: grid;
    grid-template-columns: auto auto;
}

.footer__contactdata .footer__links {
    width: 100%;
}

.footer__links > a{
    text-decoration: none;
    color: #ffffff;
}

@media(max-width: 768px){
    .footer__main {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }

    .footer__links {
        margin-top: 50px;
    }
}