.language {
    display: flex;
    background-color: white;
    height: 70vh;
    flex-direction: column;
    align-items: center;
}

.language__container {
    padding-top: 200px;
}

.language__container > div{
    width: 625px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid lightgray;
    height: fit-content;
    align-items: center;
}

.language__container > div > h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

.language__container > div > p {
    margin-bottom: 10px;
}

.language__container > p {
    margin-bottom: 20px;
    text-align:center;
}

.language__select {
    width: 250px;
}

.language__homeBtn {
    border-radius: 2px;
    width: 250px;
    height: 30px;
    border: 1px solid;
    margin-top: 15px;
    border-color: #f1f1e8;
    background: #3e978b;
    color: white;
}

@media(max-width: 768px){
    .language__container > div{
        width: 325px;
        text-align: center;
    }
}